#My custom php snippets

#echo xmp snippet added by grant
snippet xmp
	echo "<xmp style='background-color: #fff;'>";
	print_r($${1:variable})${2};
	echo "</xmp>";
# Drupal Module doc block
snippet hook
	/**
	 * Implementation of hook_${1}()
	 */
snippet hookfun
	/**
	 * Implmentation of hook_${1:hook_name}()
	 */
	function `GetFileName()`_${2:$1}(${3})
	{
	  ${4:// code...}
	}
